
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  font-family: "Playfair Display", serif;
  background-color: #f7f7f7;

}

h1 {
  color: #009432; 
  margin-bottom: 20px;
}

h2 {
  color: #2c6941; 
  margin: 20px 0 10px;
}

button {
  background-color: #009432;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px; 
  transition: background-color 0.3s ease;
  
}

button:hover {
  background-color: #007a29; 
}

select, input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 450px; 
  max-width: 100%;
}

input[type="text"], input[type="number"] {
  width: 450px; 
  max-width: 100%;
}

p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


input, select, button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus, select:focus {
  border-color: #009432;
  outline: none;
}

button:focus {
  outline: none;
}

.donation-section {
  display: flex;
  height: 100vh; 
}

.photo-container {
  flex: 1;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  background-color: #f7f7f7;
}

.text-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.text-container button {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: "";
  color: white;
  border: none;
  cursor: pointer;
  align-self: start;
}

.text-container button:hover {
  background-color: "#009432";
}
